html, body{
    background-color:#3e4c54;
}

.bread-crumb{
    background-color:#eaf0f4;
    color:#5d6b74;
    float:left;
    height:30px;
    list-style-type: none;
    padding:5px;
    width:80%
}

.dataTables_scroll
{
    overflow:auto;
}

#new tfoot {
    display: table-header-group;
}

.user ul{
    display:inline;
    color:white;
}

.user{
    background-color:#ea004a;
    float:right;
    color:#5d6b74;
    list-style-type: none;
    padding:5px;
    width:20%;
}

.user a{
    color:white;
    text-decoration: none;
}

.user a:hover{
    color:black;
}

.logout{
    color:white;
}

.table{
    width:100%;
    border-spacing: 5px;
}

.header h2{
    color:white;
    font-size:19px;
    padding:7px 17px 7px 17px;
}

.sub-content{
    background-color:#eaf0f4;
    color:#5f6c74;
    padding:20px;
    border-radius: 0 0 15px 15px;
}

.bg{
    background-color:#29363f;
}

.nav-container{
    display: flex;
    flex-flow: row wrap;
}

.bg a {
    border:1px solid #37454e;
    background-color:#37454e;
    border-radius:30px;
    color:white;
    font-size:12px;
    margin-left:10px;
    padding:4px;
    text-decoration: none;
}

.bg a:hover{
    background-color:#ea004a;
}

.wrapper{
    width:inherit;
    height:auto;
    background:white;
    padding:25px;
}

input[type=checkbox] {
    width: 25px;
}

.note{
    float:right;
    padding:15px;
    text-align:right;
    width:100%;
}

.form-section{
    width:100%;
    border: 1px solid #9fb1bb;
}

.card.card-body{
    background-color:#edf2f5 !important;
}

ul, li{
    list-style-type: none;
}

.nav-tabs>li>a:hover{
    border: 1px solid #dddddd !important;
}

.nav-tabs>li.active>a{
	border-bottom-color: #dddddd !important;
}

td{
    padding:5px;
}

.table-bordered{
    border: 0;
}

table.dataTable thead th{
    background: #2a3940 url(/themes/cp_themes/default/images/backgrounds_sprite.png) repeat-x 0 -540px;
    border-bottom: 0 !important;
    border-left: 1px solid #45555f;
    color: #fff;
}

table.dataTable thead th:last-child{
	border-right: 1px solid #45555f!important; */
}

table.dataTable tbody tr:hover a{
    text-decoration: underline !important;
    color: #e7174b !important;
}

table.dataTable tbody td{
    background-color: #ebf0f2;
    border-bottom: 1px solid #d0d7df !important;
    border-left: 1px solid #d0d7df !important;
    border-right: 0 !important;
    border-top: 0 !important;
}

table.dataTable tbody td:last-child{
	border-right: 1px solid #d0d7df !important;
}

table.dataTable tbody .even td{
    background-color: #f4f6f6;
}

table.dataTable td select{
	width: 100%;
}

textarea:focus,
select:focus,
textarea.markItUpEditor:focus, 
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="number"]:focus, 
input[type="password"]:focus{
    background-color: rgb(233, 231, 231) !important;
    border: 2px solid rgb(211, 211, 211) !important;
    border-radius: 0 !important;
    font-size: 100% !important;
    padding: 4px 8px !important;
}

table.dataTable td textarea,
table.dataTable td select,
table.dataTable td input{
    background-color: transparent;
	border: 2px solid transparent;
	cursor: pointer;
    font-size: 100%;
    padding: 4px 8px;
}

table.dataTable td textarea:hover,
table.dataTable td select:hover,
table.dataTable td input:hover{
	border: 2px solid rgb(211, 211, 211);
	border-radius: 0;
}

table.dataTable td.focus{
    outline: none !important;
}

.dataTables_wrapper .dataTables_filter input{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #555;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 4px 8px;
}

.main-content{
    width:inherit;
    height:auto;
    border-radius: 15px;
    background: #9fb1bb;
}

#submit{
    width:50%;
    max-width: 200px;
    min-width: 30px;
}
/* For Tabs */
@mixin ellipsis(){
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
}

@mixin icon-styles(){
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin transform($transform){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@media screen and (max-width: 479px) {
  .nav-tabs-responsive {
    > li {
      display: none;
      width: 23%;
      > a {
        @include ellipsis();
        width: 100%;
        text-align: center;
        vertical-align: top;
      }
      &.active {
        width: 54%;
        &:first-child {
          margin-left: 23%;
        }
      }
      &.active,
      &.prev,
      &.next {
        display: block;
      }
      &.prev,
      &.next {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
      &.next > a,
      &.prev > a {
        -webkit-transition: none;
        transition: none;
        .text {
          display: none;
        }
        &:after,
        &:after {
          @include icon-styles();
        }
      }
      &.prev > a:after {
        content: "\e079";
      }
      &.next > a:after {
        content: "\e080";
      }
      &.dropdown {
        > a > .caret {
          display: none;
        }
        > a:after {
          content: "\e114";
        }
        &.active > a {
          &:after {
            display: none;
          }
          > .caret {
            display: inline-block;
          }
        }

        .dropdown-menu {
          &.pull-xs-left {
            left: 0;
            right: auto;
          }
          &.pull-xs-center {
            right: auto;
            left: 50%;
            @include transform(translateX(-50%));
          }
          &.pull-xs-right {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}



/**
 * Demo Styles
 */

.wrapper1 {
    padding: 15px 0;
}

.bs-example-tabs .nav-tabs {
  margin-bottom: 15px;
}

@media (max-width: 479px) {
  #narrow-browser-alert {
    display: none;
  }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    display:block;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height:100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#info{
    float:right;
    height:80%;
    overflow:scroll;
    width:50%;
}

.content{
    float:left;
    height:80%;
    overflow:scroll;
    width:50%;
}

.editContent, #iframe{
    height:1000px;
    width: 100%;
    overflow:scroll;
}

input#search, input#searchTemp{
    float:left;
    width:50%;
}

input#searchBtn{
    float:left;
    width:50%;
}

#add_delete{
    float:right;
}


table.pretty {
    width: 100%;
    clear: both;
}

table.pretty thead th:second-child{
    border-top: 1px solid #5f6c74;
}
 
table.pretty td {
    padding: 5px;
    border: 1px solid #fff;
}

table.pretty thead th {
    text-align: center;
}

/* Breadcrumb */
ul.bread-crumb {
    list-style: none;
    background-color: #eee;
}

ul.bread-crumb li {
    display: inline;
    color:#5e6870;
}
ul.bread-crumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.form{
    border:1px solid #d0d7df;
    padding-bottom: 10px;
}

.form input{
    border: none;
    border-radius: none;
    width:100%;
}

.input_field{
    border-top: 1px solid #d0d7df;
    padding: 10px;
    width: 100%;
}

.input_field:first-child{
    border-top: none;
}

.form input[type="submit"] {
    background-color: #ea004a;
    border-radius: 5px;
    color:white;
    float:right;
    width: 10%;
}

.clear{
    clear:both;
}

table#edit tbody input[type="text"]{
    width:100%;
}
input[type="text"]{
    width:auto;
}

.highlight{
    background-color: #eee;
}
.add_templates{
    width: 50%;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #d91350;
    margin:0 auto;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input[type="radio"]{
    width:auto;
}

label{
    margin-right:1em;
    text-align:right;
}